@model  PackageBD.Models.TourPackageViewDetailsVM
@{
    ViewBag.Title = "TourPackageDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container">
    <div class="col-sm-12">
        <a href="@Url.Action("Index","Home",new { area="Agent"})">Back to list</a>
        <div class="col-sm-8">
            @foreach (var f in Model.TourPackage.FileDetails)
            {
                <div class="well">
                    <img src="~/Images/packageImg/@(f.FileDetailsId+f.Extension)"width="100%;" class="">
                </div>
            }
        </div>
        <div class="col-sm-4">
            <h2>@Html.DisplayFor(model => model.TourPackage.TourPackageTitle)</h2>
        </div>
    </div>
</div>