@{
    ViewBag.Title = "About";
}


<!-- banner-bottom -->
<div class="banner-bottom">
    <!-- container -->
    <div class="container">
        <div class="about-info">
            <h2>A brief history of PackageBD</h2>
        </div>
        <div class="about-grids">
            <div class="col-md-8 about-left">
                <h3>
                    Packagebd.com is an award winning B2B global reservation system offering accommodation, sightseeing and transfer services to our travel partners across the globe. The system provides access to over 250,000+ hotel and apartment rooms worldwide, more than 45,000+ sightseeing attractions and private transfer in over 900 cities, exclusively to professionals within the tourism sector: travel agents, tour operators and wholesale travel companies, with large allotments and instant online confirmation.

                    Packagebd.com was launched by Travel Designer Group in 2017 to facilitate travel partners to find and book hotel, Apartment, Sightseeing and Transfer under one window interface, has been consistently providing the best and biggest inventory to the travel partners, by contracting with hotel chains and hotels across the globe and also by sourcing them through multiple suppliers we work with.

                    Our travel partners trust us to deliver and support them 365 days because of our vast experience, healthy relationship with suppliers and hotel chains and local market understanding.

                    We are focused on driving business for our partners while enriching their booking experience with us. Well known for our innovations, global reach, reputation and trustworthiness, competitiveness, advanced technology and booking interface – Packagebd.com connects travel wholesalers, online travel agents, tour operators and DMC’s to the vast portfolio of global travel content.
                </h3>
                <p>
                    We are focused on driving business for our partners while enriching their booking experience with us. Well known for our innovations, global reach, reputation and trustworthiness, competitiveness, advanced technology and booking interface – Packagebd.com connects travel wholesalers, online travel agents, tour operators and DMC’s to the vast portfolio of global travel content.
                </p>
            </div>
            <div class="col-md-4 about-right">
                <img src="~/Front_End/images/w1.jpg" alt="" />
                <img src="~/Front_End/images/p2.jpg" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //container -->
</div>
<!-- //banner-bottom -->